{% extends "base.html" %}
{% block title %}
    {% if valid_file %}
        {% if 'name' in file_content.keys() %}
            {{ file_content['name'] }}
        {% else %}
            {{ file_content['filename'] }}
        {% endif %}
    {% else %}
        Error parsing CSV
    {% endif %}
{% endblock %}
{% block content %}
    {% if valid_file %}
      <h1>{% if 'name' in file_content.keys() %}{{ file_content['name'] }}{% else %}{{ file_content['filename'] }}{% endif %}</h1>
      <div id="chart"></div>
      <br/>
      <h4>Corresponding JSON created :</h4>
      <p>{{ file_content_json }}</p>
      <script>
        var chart = c3.generate({
          bindto: '#chart',
          data: {
            columns: [
              {% for key in file_content['data'] %}
                {{ file_content['data'][key] | safe }},
              {% endfor %}
                ],
                {% if 'type' in file_content.keys() %}
                type: {{ file_content['type'] | safe }},
                {% endif %}
                {% if 'types' in file_content.keys() %}
                types: {
                    {% for key in file_content['types'].keys() %}
                        {{ key+':'+file_content['types'][key] | safe}},
                    {% endfor %}
                },
                {% endif %}
                {% if 'groups' in file_content.keys() %}
                groups: [
                    {% for pair in file_content['groups'] %}
                        {{ pair | safe}},
                    {% endfor %}
                ],
                {% endif %}
          }
        });
      </script>
    {% else %}
        {{ file_content }}
    {% endif %}
{% endblock %}