{% extends "base.html" %}
{% block title %}
    {% if valid_file %}
        {% if 'name' in file_content.keys() %}
            {{ file_content['name'] }}
        {% else %}
            {{ file_content['filename'] }}
        {% endif %}
    {% else %}
        Error parsing CSV
    {% endif %}
{% endblock %}
{% block content %}
    {% if valid_file %}
      <h1>{% if 'name' in file_content.keys() %}{{ file_content['name'] }}{% else %}{{ file_content['filename'] }}{% endif %}</h1>
      <div id="chart"></div>
      <p>{{ file_content }}</p>
      <script>
        var chart = c3.generate({
          bindto: '#chart',
          data: {
            columns: [
              {% for key in file_content['data'] %}
                {{ file_content['data'][key] | safe }},
              {% endfor %}
                ],
                {% if 'type' in file_content.keys() %}
                type: {{ file_content['type'] | safe }},
                {% endif %}
                {% if 'types' in file_content.keys() %}
                types: {{ file_content['types'] | safe}},
                {% endif %}
                {% if 'groups' in file_content.keys() %}
                groups: {{ file_content['groups'] | safe}},
                {% endif %}
          }
        });
      </script>
    {% else %}
        {{ file_content }}
    {% endif %}
{% endblock %}